body {
    font-family: Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.nav-bar {
    background: #394c39; 
    padding: 10px; 
    text-align: center;
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px;
}

.nav-bar a { 
    color: white; 
    margin: 0 10px; 
}

.nav-bar a:hover { 
    color: gray; 
}

.page-header { 
    background: #394c39; 
    color: white; 
    padding: 20px; 
    text-align: center; 
}

.page-header > h1 { 
    margin: 0; 
    font-size: 2em; 
    font-weight: bold;
}

a {
    color: darkgreen;
}

a:hover {
    color: lightgreen;
}



h3, h2 {
    color: #394c39;
    font-weight: 600;
}

p {
    font-weight: 300;
    text-align: left;
    margin: 0;
}

input {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #394c39;
}

input[type="submit"] {
    color: #394c39;
    background-color: white;
    border: 1px solid;
    border-radius: 4px;
}
.contact-form {
    margin: 10px;
    padding: 10px;
}

datalist {
    color: #394c39;
}

section, div {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

#upload {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

img {
    margin: 5px;
    position: relative;
}

img[alt="ecophilia logo"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.activity-form {
    margin: 10px;
    padding: 10px;
    background-color: #738665;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}

.activity-form > p {
    background-color: white;
    border-radius: 4px;
    width: 350px;
    margin: 5px;
    padding: 5px;
}

table {
    margin: 10px;
    padding: 10px;
    background-color: #738665;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}

th, td {
    background-color: white;
    border-radius: 4px;
    width: 350px;
    margin: 5px;
    padding: 5px;
}

th {
    background-color: #f2f2f2;
}


.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    flex-wrap: wrap; 
    gap: 20px;
}


.form-container {
    flex: 1; 
    margin-right: 20px;
    min-width: 300px;
    max-width: 48%;
}

.table-container {
    flex: 1; 
    min-width: 300px;
    max-width: 48%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) { 
    .nav-bar { 
        flex-direction: column; 
    } 

    .form-item label { 
        flex-direction: column; 
    } 
}
